#container {
	max-width: 70%;
	margin: 2px auto;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	padding: 10px;
	background: white;
}

#title {
	text-align:center;
}

input[type=text], input[type=password], textarea {
	padding: 12px 20px;
	box-sizing: border-box;
	margin: 4px 2px;
}

input[type=submit] {
	background: #d7d7d7;
	border: none;
	padding: 14px 28px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.post {
	width: 80%;
	margin: 0 auto;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.postmenu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 15px;
}